@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.Background {
    height: 600px;
    width: 100vw;
    position: relative;

    display: flex;
    flex-direction: column;

    &--carousel-wapper {
        flex: 1;
    }

    .cardStyle {
        height: 400px;
        width: 40vw;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-size: 12px;
        text-transform: lowercase;
        box-sizing: border-box;
        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .Info {
        color: white;
        font-size: 20px;
        font-family: Montserrat;
        margin-top: 2rem;
    }
}
